{% include 'layout.html' %}
<div class="container">
    <div class="card">
        <div class="card-header">Register</div>
        <div class="card-body">
            <form action="" id="registerForm">
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="">Email</label>
                        <input class="form-control" type="email" name="email" required>
                    </div>
                        <div class="form-group col-md-6">
                        <label for="">User name</label>
                        <input class="form-control" type="text" name="username" required>
                    </div>
                        <div class="form-group col-md-6">
                        <label for="">First name</label>
                        <input class="form-control" type="text" name="firstname" required>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="">Last name</label>
                        <input class="form-control" type="text" name="lastname" required>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="">Role</label>
                        <input class="form-control" type="text" name="role" required>
                    </div>
                        <div class="form-group col-md-6">
                        <label for="">Phone Number</label>
                        <input class="form-control" type="text" name="phone_number" required autocomplete="phone_number">
                    </div>
                </div>
                <div class="form-group">
                    <label for="">Password</label>
                    <input class="form-control" type="password" name="password" required autocomplete="new-password">
                </div>
                    <div class="form-group">
                    <label for="">Verify Password</label>
                    <input class="form-control" type="password" name="password2" required autocomplete="new-password">
                </div>
                <button type="submit" class="btn btn-primary">Sign in</button>
            </form>
        </div>
        <div class="card-footer tex-muted">
        <a href="/auth/login-page">Already have an account ?</a>
    </div>
    </div>
</div>